# Relatório de Análise VI

## Criando Novas Variáveis

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('Dados/aluguel_residencial.csv', sep = ';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [3]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']
dados.head(10)
# inseriu uma coluna 'Valor Bruto' que é composta pela soma do 'Valor' 'Condominio' e 'IPTU' de cada Imóvel

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0

In [5]:
dados['Valor m2'] = (dados['Valor'] / dados['Area']).round(2)
dados.head(10)
# inseriu uma coluna 'Valor m2' que é composta pela divisão do 'Valor' pela 'Area' 
# função round arredonda as casas decimais

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0,17.14
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0,33.33
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43

In [6]:
dados['Valor Bruto m2'] = (dados['Valor Bruto'] / dados['Area']).round(2)
dados.head(10)
# inseriu uma coluna 'Valor Bruto m2' que é composta pela divisão do 'Valor Bruto' pela 'Area'

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0,17.14,17.14
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0,33.33,33.33
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.66

In [7]:
casa = ['Casa', 'Casa de Condominio', 'Casa de Vila']

In [8]:
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [9]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46,Apartamento
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0,17.14,17.14,Apartamento
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36,Apartamento
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33,Apartamento
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38,Apartamento
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0,33.33,33.33,Apartamento
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.66,Apartamento
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,21.88,Apartamento
11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,65.28,Apartamento
12,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,2301.0,66.67,85.22,Apartamento
13,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,15803.0,53.50,65.03,Apartamento
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,2000.0,17.39,17.39,Apartamento
15,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,1278.0,17.59,23.67,Apartamento
16,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,2436.0,25.37,36.36,Apartamento
17,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,2738.0,17.27,24.89,Apartamento
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,10195.0,16.09,21.88,Apartamento
19,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,1670.0,14.71,24.56,Apartamento
20,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,2700.0,25.64,34.62,Apartamento
21,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,9563.0,56.00,76.50,Apartamento
22,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0,1547.0,15.62,32.23,Apartamento
23,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0,6200.0,24.00,35.43,Apartamento
24,Casa,Campo Grande,4,1,2,400,12000.0,0.0,0.0,12000.0,30.00,30.00,Casa
25,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,0.0,3240.0,32.89,42.63,Apartamento
26,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0,12850.0,26.46,33.99,Apartamento
27,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0,7700.0,30.56,42.78,Apartamento
28,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,0.0,2948.0,21.90,28.08,Apartamento
29,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0,5520.0,35.45,50.18,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22541,Apartamento,Ipanema,1,0,0,55,2000.0,630.0,19.0,2649.0,36.36,48.16,Apartamento
22542,Apartamento,Recreio dos Bandeirantes,3,2,1,100,2500.0,650.0,1864.0,5014.0,25.00,50.14,Apartamento
22543,Apartamento,Jardim Botânico,3,1,2,145,5000.0,1296.0,317.0,6613.0,34.48,45.61,Apartamento
22544,Apartamento,Recreio dos Bandeirantes,3,2,1,115,2000.0,482.0,166.0,2648.0,17.39,23.03,Apartamento
22545,Apartamento,Barra da Tijuca,1,1,0,62,1700.0,945.0,180.0,2825.0,27.42,45.56,Apartamento
22546,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,0.0,23000.0,20.00,23.00,Apartamento
22547,Apartamento,Campinho,2,0,0,63,800.0,392.0,0.0,1192.0,12.70,18.92,Apartamento
22548,Apartamento,Freguesia (Jacarepaguá),2,1,0,60,500.0,900.0,148.0,1548.0,8.33,25.80,Apartamento
22549,Casa,Centro,5,0,1,160,5000.0,0.0,80.0,5080.0,31.25,31.75,Casa
22550,Apartamento,Todos os Santos,3,0,0,54,1500.0,289.0,35.0,1824.0,27.78,33.78,Apartamento
22551,Apartamento,Recreio dos Bandeirantes,2,1,1,105,2100.0,648.0,156.0,2904.0,20.00,27.66,Apartamento
22552,Apartamento,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0,3170.0,28.21,40.64,Apartamento
22553,Apartamento,Leblon,1,1,1,50,4300.0,1730.0,259.0,6289.0,86.00,125.78,Apartamento
22554,Apartamento,Copacabana,2,0,1,70,4100.0,700.0,90.0,4890.0,58.57,69.86,Apartamento
22555,Apartamento,Copacabana,1,0,0,50,1950.0,450.0,70.0,2470.0,39.00,49.40,Apartamento
22556,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0,4008.0,26.47,47.15,Apartamento
22557,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0,3364.0,23.47,34.33,Apartamento
22558,Apartamento,Barra da Tijuca,3,2,2,140,5500.0,1900.0,700.0,8100.0,39.29,57.86,Apartamento
22559,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,0.0,2340.0,17.61,26.59,Apartamento
22560,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,1986.0,68.18,90.27,Apartamento
22561,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0,4259.0,37.50,53.24,Apartamento
22562,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0,17000.0,100.00,113.33,Apartamento
22563,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0,1385.0,35.71,49.46,Apartamento
22564,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0,1550.0,19.23,29.81,Apartamento
22565,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0,19043.0,33.33,42.32,Apartamento
22566,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86,20.54,Apartamento
22567,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,43.52,Apartamento
22568,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,33.85,Apartamento
22569,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,40.54,Apartamento
22570,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,53.71,Apartamento

## Excluindo Variáveis

In [10]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])
dados_aux.head(10)

  Tipo Agregado  Valor m2  Valor Bruto  Valor Bruto m2
0   Apartamento     42.50       2260.0           56.50
1          Casa     70.00       7000.0           70.00
2   Apartamento     53.33       1210.0           80.67
3   Apartamento     16.67       1030.0           21.46
4   Apartamento     17.14       1200.0           17.14
5   Apartamento     26.00       1618.0           32.36
6   Apartamento     29.33      22000.0           29.33
7   Apartamento     15.38       1000.0           15.38
8   Apartamento     33.33       1200.0           33.33
9   Apartamento     21.43       2216.0           31.66

In [11]:
del dados_aux['Valor Bruto']
dados_aux.head(10)
# comando del remove variável do DataFrame

  Tipo Agregado  Valor m2  Valor Bruto m2
0   Apartamento     42.50           56.50
1          Casa     70.00           70.00
2   Apartamento     53.33           80.67
3   Apartamento     16.67           21.46
4   Apartamento     17.14           17.14
5   Apartamento     26.00           32.36
6   Apartamento     29.33           29.33
7   Apartamento     15.38           15.38
8   Apartamento     33.33           33.33
9   Apartamento     21.43           31.66

In [14]:
dados_aux.pop('Valor Bruto m2')
dados_aux
# metodo pop remove variável do DataFrame

      Tipo Agregado  Valor m2
0       Apartamento     42.50
1              Casa     70.00
2       Apartamento     53.33
3       Apartamento     16.67
4       Apartamento     17.14
5       Apartamento     26.00
6       Apartamento     29.33
7       Apartamento     15.38
8       Apartamento     33.33
9       Apartamento     21.43
10      Apartamento     16.67
11      Apartamento     50.00
12      Apartamento     66.67
13      Apartamento     53.50
14      Apartamento     17.39
15      Apartamento     17.59
16      Apartamento     25.37
17      Apartamento     17.27
18      Apartamento     16.09
19      Apartamento     14.71
20      Apartamento     25.64
21      Apartamento     56.00
22      Apartamento     15.62
23      Apartamento     24.00
24             Casa     30.00
25      Apartamento     32.89
26      Apartamento     26.46
27      Apartamento     30.56
28      Apartamento     21.90
29      Apartamento     35.45
...             ...       ...
22541   Apartamento     36.36
22542   Apartamento     25.00
22543   Apartamento     34.48
22544   Apartamento     17.39
22545   Apartamento     27.42
22546   Apartamento     20.00
22547   Apartamento     12.70
22548   Apartamento      8.33
22549          Casa     31.25
22550   Apartamento     27.78
22551   Apartamento     20.00
22552   Apartamento     28.21
22553   Apartamento     86.00
22554   Apartamento     58.57
22555   Apartamento     39.00
22556   Apartamento     26.47
22557   Apartamento     23.47
22558   Apartamento     39.29
22559   Apartamento     17.61
22560   Apartamento     68.18
22561   Apartamento     37.50
22562   Apartamento    100.00
22563   Apartamento     35.71
22564   Apartamento     19.23
22565   Apartamento     33.33
22566   Apartamento     12.86
22567   Apartamento     29.63
22568   Apartamento     23.08
22569   Apartamento     29.17
22570   Apartamento     42.86

[22571 rows x 2 columns]

In [15]:
dados.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True)
dados.head(10)
# função drop também remove Variável do DataFrame

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,17.14,Apartamento
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Apartamento
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Apartamento
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,33.33,Apartamento
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento

In [17]:
dados.to_csv('Dados/aluguel_residencial.csv', sep =';', index = False)